[Desktop Entry]
Version=1.5
Type=Application
Name=Create Collections
Comment=Creador de colecciones para RetroFE
Exec=/home/retro/MABE/CreateCollections.sh
Icon=CCollectionsCreator
Path=
Categories=Game;Emulator;
Terminal=true
StartupNotify=false
