[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/coinops/Desktop/PngFix Coinops.desktop]
row=3
col=0

[/home/coinops/Desktop/Reboot.desktop]
row=5
col=0

[/home/coinops/Desktop/CoinOPS Pi.desktop]
row=8
col=0

[/home/coinops/Desktop/Shutdown.desktop]
row=4
col=0

[/home/coinops/Desktop/pavucontrol.desktop]
row=6
col=0

[/home/coinops/Desktop/retroarch.desktop]
row=7
col=0

[Wastebasket]
row=0
col=0

[/]
row=1
col=0

[/home/coinops]
row=2
col=0

